<div class="mCont">
    <!-- ⭐️ Klef developed this ⭐️-->
    <div class="formHeading">
        <h2>CBS Official Voting 2020</h2>
        <br />
        <h3>Log in to Vote</h3>
        <br />
        <small>Ensure you have registered.</small>
    </div>

    <form class="new_user" id="new_user" accept-charset="UTF-8" method="post">
        <fieldset>
            <div class="fieldCont">
                <input autofocus="autofocus" type="text" name="txtnumber" minlength="6" maxlength="7" id="reg_no" required/>
                <label id="reg_err">Your Reg. Number</label>
            </div>

            <div class="fieldCont last">
                <input autocomplete="off" type="password" name="txtupass" id="password" required/>
                <label id="pass_err">Password</label>
            </div>
        </fieldset>

        <div class="formActions">
            <div class="buttonCont">
                <input type="submit" name="btn-login" value="Log in" />
            </div>
        </div>
    </form>
    <div class="otherLinks">
        <a href="register">Not registered?</a>
    </div>
    <!-- Klefcodes x Tonidev-->
</div>