<div class="mCont">
    <!-- Klef developed this ⭐️-->
    <div class="formHeading">
        <h2>Get started with CBS Official Voting 2020</h2>
        <p>Enter Reg Number</p>
        <br />
        <small>
            Only Landmark Univeristy Registration Numbers allowed
        </small>
    </div>
    <form class="signupForm" id="myReg" name="myReg" method="POST">
        <div class="fieldsetCont">
            <fieldset class="signupStep_1">
                <div class="fieldCont last">
                    <input autofocus="autofocus" required="required" minlength="6" maxlength="7" type="text"
                        name="reg_no" id="reg_no"/>
                    <label id="reg_err">Reg No: 1700172</label>
                </div>
                <!-- /fieldCont -->
            </fieldset>
        </div>

        <div class="formActions">
            <div class="buttonCont">
                <input type="submit" name="commit" value="Continue" />
            </div>
        </div>
        <!-- /formActions -->
    </form>
    <div class="otherLinks">
        <a href="login">Login</a>
    </div>
    <!-- Klefcodes x Tonidev -->
</div>