{{!-- CBS HERO HOME SECTION --}}
<div id="home" class="section-hero">
    <div data-w-id="b886b535-a2e4-c22f-99ce-3c7a91cf3590" class="hero-container">
        <div data-ix="hero-text-shadow-div-2">
            <div class="hero-topline w-clearfix">
                <div data-ix="tls1" class="topline-shape tls1">
                    <div class="main-shape">
                        <div class="_10-shape tls-10-2"></div>
                        <div class="_10-shape tls-10-1"></div>
                    </div>
                </div>
                <div data-ix="tls-2" class="topline-shape tls2">
                    <div class="main-shape"></div>
                </div>
                <div data-ix="cbs" class="topline-text">CBS</div>
                <div data-ix="official" class="topline-text _2">OFFICIAL</div>
            </div>
            <div class="hero-middleline">
                <div data-ix="VOTING" class="middleline-text">VOTING</div>
                <div data-ix="mls-1" class="middleline-shape">
                    <div class="main-shape">
                        <div class="_10-shape mls-10-1"></div>
                    </div>
                </div>
                <div data-ix="mls-3" class="middleline-shape mls-2">
                    <div class="main-shape w-clearfix">
                        <div class="_10-shape mls-10-3"></div>
                        <div class="_10-shape mls-10-2"></div>
                    </div>
                </div>
            </div>
            <div class="hero-bottomline">
                <div data-ix="2020" class="bottomline-text">2020</div>
                <h1 data-ix="h1-og" class="hero-h1">
                    © 2020
                    <a href="https://cbs.lmu.edu.ng/" target="blank" style="color: white;z-index: 100;">CBScience</a>
                </h1>
                <div data-ix="bls-1" class="bottomline-shape">
                    <div class="main-shape w-clearfix">
                        <div class="_10-shape bls-10-2"></div>
                        <div class="_10-shape bls-10-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ix="particles-1" class="particles-1"></div>
    <div data-ix="particles-2" class="particles-2"></div>
</div>