{{!-- CBS PAGE LOADER --}}
<div class="loader" data-ix="loader">
    <div class="loading w-clearfix">
        <img class="loading-logo" data-ix="loader" sizes="130vw" src="/img/logo.gif" srcset="
            ./img/logo.gif  500w,
            ./img/logo.gif  800w,
            ./img/logo.gif 1001w
          " width="180" />
        <div class="loading-text _2 w-hidden-main w-hidden-medium">
            CBS Voting 2020
        </div>
    </div>
</div>