{{!-- CBS SHIRTS FOR SALE --}}
<div class="section-latest-project w-clearfix" id="latest-project">
    <div class="huge-cirle-lp"></div>
    <div class="lp-leftcolumn"></div>
    <div class="lp-text-100 w-clearfix">
        <div class="home-containers latest-pobble">
            <div class="about-me-titles">
                <h4 class="h4 lp title">CBS OFFICIAL T-Shirt</h4>
                <h4 class="h4 lp">Crazy UX stuff</h4>
            </div>
            <div class="title-line"></div>
            <div class="aboutme-text">
                <p class="paragraph lp">
                    The CBS Shirts are available in different colors ranging from
                    blue, white, black, yellow,grey and purple.Its limited, so its
                    more of early bookings. Each shirt goes for #2500
                </p>
                <a class="button homepage" href="/shop"><span class="text-in-button">Click to Book</span></a>
            </div>
        </div>
    </div>
</div>