<!DOCTYPE html>
<html>
  <head>
    <!-- Design gotten from Tonidev -->
    <meta charset="utf-8" />
    <meta itemprop="name" content="CBS Official Voting 2020" />
    <meta itemprop="author" content="Toni Dev && Klefcodes" />
    <meta itemprop="description" content="Voting web app 2020 " />
    <meta property="og:title" content="CBS Voting" />
    <meta property="og:description" content="CBS Official Voting 2020" />
    <meta
      name="viewport"
      content="width=device-width, maximum-scale=1.0001, minimum-scale=1.0001, user-scalable=no"
    />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/auth/css/devdev/styles.css" />
    <script src="/auth/js/unpkg.js"></script>
    <script src="/auth/js/jquery.js"></script>
    <script src="/auth/js/busy-load.js"></script>

    <!-- Uncle Inspector of Source Codes...I donnoe what you are looking for here oo...🙄 -->
    <title>CBS Official Voting - Authentication</title>
  </head>
  <body>
    <div id="body-cont">
      <!-- Aside image -->
      {{!-- <aside></aside> --}}

      <main>
        {{{body}}}
        <!-- Design gotten from Tonidev -->
      </main>
    </div>

    <div class="awesomeBanner">
      <div class="body">
        <span></span>
      </div>
      <div class="blind"></div>
      <div class="blind"></div>
    </div>
    <script src="/js/axios.min.js"></script>
    <script src="/auth/js/auth.js"></script>
  </body>
</html>
