<!doctype html>
<html>

<head>
    <!-- Design gotten from Tonidev -->
    <meta charset="utf-8" />
    <title>CBS Official Voting Site</title>
    <meta content="CBS Official Voting Web App 2020" name="description" />
    <meta content="@Klefcodes" author="Klefcodes" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/assets/vote/klefcodes.css">
    <link href="/assets/vote/fonta.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/vote/css.css" />
    <script src="/js/alert.js"></script>
    <script src="/assets/vote/particles.js"></script>
</head>

<body>
    <!-- Uncle Inspector of Source Codes...I donnoe what you are looking for here oo...🙄 -->
    <!-- I hope you find what you're looking for -->
    {{{body}}}
    <!-- Design gotten from Tonidev -->
    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/assets/vote/klefcodes.js"></script>
</body>

</html>