<nav>
    <div class="logo nav__logo">
        <a href="/"><img src="/tonidev/img/logo.png" width="50" alt="LOGO" /></a>
    </div>
    <ul class="nav__list">
        <li class="nav__item"><a href="#">{{name}}</a></li>
    </ul>

</nav>