<div class="project-hero" id="top">
    <div class="project-hero-container signwriter">
        <a class="back-link" href="/"><span class="fa"></span> &nbsp;Back to Home</a>
        <div class="div-block-3">
            <h1 class="h1-projects">Categories</h1>
            <h2 class="h2-projects" id="demo" style="font-size: 25px;"></h2>
            <h2 class="h2-projects" id="text" style="font-size: 19px;"></h2>

            <div class="project-line"></div><a class="downarrowlink w-inline-block" href="#category">
                <div class="downarrow">
                    <div>
                        
                    </div>
                </div>
            </a>
        </div>
    </div>
    <img class="projectcurve" src="/img/curve.svg">
</div>